html, body{
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;    
}
embed {
    height: 20px;
    width: 20px;
}
#principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    background: linear-gradient(180deg, rgba(255,164,0,1) 0%, rgba(255,189,109,1) 90%, rgba(255,231,158,1) 100%);
    height: 75%;
    padding-top: 20px;
    padding-left: 10px;
    padding: 40px;
    border-radius: 5%;
}

#primero{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    padding-left: 5px;
}

#calendarioSVG{
padding-left: 60%;

}

#nombreCiudad{
    padding-left: 40px;
}

#calendario-popup{
    display: none;
}

#segundo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 2;
}

.icono-principal{
    width: 250px;
    height: 250px;
}

.icono-secundario{
    width: 50px;
    height: 50px;
}

#segundo-tempViento{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#tercero{
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}

#fechas, #cuadros{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#fechas{
    font-size: 0.7rem;
}

#fecha1, #fechas2, #fechas3{
    padding-right: 30px;
    padding-left: 30px;
}

#text-informativo, #txt-temperatura{
    font-size: 2rem;
}

#cuadro1, #cuadro2, #cuadro3{
    padding-right: 15px;
    padding-left: 15px;
    margin: 15px;
    padding-top: 15px;
    text-align: center;
    background: rgba(204, 204, 204, 0.3);
    border-radius: 10%;
    padding: 20px;
}

#cuadro1 embed, #cuadro2 embed, #cuadro3 embed{
height: 50px;
width: 50px;
}

#calendario{
    display: none;
    margin-right: 100px;
    animation-name: prueba;
    animation-duration: 0.5s;
}

@keyframes prueba {
    from {
        margin-right: 0;
    }
    to {
        margin-right: 100px;
    }
}

#dia{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#dia p{
    margin: 11px;
}

#dias{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#dias button{
    margin: 5px;
}


